@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary:#8873EF;
    --green:#5BF0AF;
    --gray:#757575;
    --black-text:#111111;
}
* {
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a,svg,ul li {
    display: inline-block;
}